body{
    background-image: url(bg/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0px;
    padding: 0px;
}

.shade{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width:100%;
}
.shade p{
    display: flex;
    align-items: center;

}
.box{
    /* background: red; */
    width:500px;
    height: 200px;
    position: relative;
    left: 420px;
    top: 230px;
}
p {
    font-family: 'oswald', sans-serif;
    color: white;
    font-size: 45px;
}
ul{
    /* border: 1px solid yellow; */
    box-sizing: border-box;
}
ul li{
    list-style: none;
    display: inline-block;
    border: 3px solid white;
    height: 50px;
    width: 100px;
    margin: 0px 10px;
    position: relative;
    left: 50px;
}
ul li #green:hover{
    /* background: rgba(0, 0, 0, 0.8); */
    background: chocolate;
    color: black;

}
ul li #red:hover{
    background: white;
    color: black;}

ul li a{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0px;
    display:flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    color: white;
    font-family: 'oswald';
    /* background: green; */
    font-size: 30px;
    /* border: 1px solid blue; */

}